/*for small screens below*/
@media screen and (max-width: 480px) {
#home-img {
    justify-self: center;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    flex: 1;
    width: 100%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .home-start {
    display: inline-flex;
    padding: 8px;
  }
  .home-start-text {
    flex: 1;
  }
  #side {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
  .home-image-side-col {
    justify-content: center;
    align-items: center;
  }
  .home-start-text {
    flex: 1;
  }
}
  @media screen and (min-width: 480px) {
  #home-img {
    width: auto;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    flex: 1;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .home-start-text {
    flex: 1;
    min-width: 200px;
  }
  #top {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .home-image-side-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}