#home-img {
    justify-self: center;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    flex: 1;
    width: 100%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .home-start {
    display: inline-flex;
    padding: 8px;
  }
  .home-start-text {
    flex: 1;
  }
  #side {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
  .home-image-side-col {
    justify-content: center;
    align-items: center;
  }
  .home-start-text {
    flex: 1;
  }
  #subscribe {
    margin-left: 5px;
  }
  .Products-div {
    display: flex;
    justify-content: center;
  }
.product-catalog {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}
.product-catalog-col {
  min-width: 38%;
  max-width: 50%;
  object-fit: cover;
  flex: 1;
  display: inline-block;
}
#drop-image {
  padding: 8px;
  background-color: rgb(221, 174, 221);
  border-radius: 4px;
  border: 1px solid rgb(85, 84, 84);
  margin: 1px;
  justify-items: center;
}
.product-info {
  display: block;
}
#fire-image {
  width: 32%;
}