@import url("https://fonts.googleapis.com/css2?family=Joan&family=Nanum+Gothic&family=Rajdhani:wght@300&family=Raleway:ital,wght@0,100;0,200;1,100&display=swap");
/*for large screens below*/
@media screen and (min-width: 480px) {
  h1,
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .mainHeader {
    width: 100%;
    height: fit-content;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(228, 224, 224);
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  .product-info {
    display: block;
  }
  .mainHeader.pages {
    width: min-content;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    flex: 3;
  }
  .tnk {
    color: black;
    font-size: 15px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    text-decoration-style: none;
    padding: 2px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
  }
  .tnk:hover {
    margin: 10px 10px 9px 10px;
    text-decoration: solid;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  .tnv {
    visibility: hidden;
  }
  #cart {
    justify-items: center;
    justify-self: center;
    align-self: center;
    flex: 1;
    margin: 3px;
    background-color: white;
  }
  .footer {
    width: 100%;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .corporates {
    background-color: rgb(252, 249, 249);
    width: fit-content;
    height: fit-content;
    flex: 1;
    justify-items: center;
  }
  .footer .newsletter {
    background-color: white;
    width: 100%;
    flex: 1;
    display: inline-flex;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 201, 201);
    justify-content: center;
    align-items: center;
  }
  .home {
    height: fit-content;
  }
  span {
    justify-items: center;
    justify-self: center;
    align-self: center;
    flex: 1;
    margin: 3px;
    background-color: white;
  }
  #drawer {
    visibility: hidden;
    flex: 1;
  }
  form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  #subscribe:hover {
    background-color: rgb(36, 36, 36);
  }
  #subscribe {
    margin-left: 3px;
  }
  #home-img {
    width: auto;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    flex: 1;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .home-start-text {
    flex: 1;
    min-width: 200px;
  }
  #top {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .home-image-side-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #subscribeInput {
    padding: 7px;
    margin-left: 2px;
  }
  .Products-div {
    display: flex;
    justify-content: center;
  }
  .filter-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
/*for small screens below*/
@media screen and (max-width: 480px) {
  h1,
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .mainHeader {
    width: 100%;
    height: fit-content;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(228, 224, 224);
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  .mainHeader.pages {
    visibility: hidden;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    flex: 1;
  }
  .tnk {
    visibility: hidden;
  }
  .tnv {
    color: black;
    font-size: 17px;
    display: block;
    margin: 10px 10px 9px 10px;
    text-decoration-style: none;
    padding: 2px;
    font-family: "Rajdhani", sans-serif;
    text-decoration: none;
    border-bottom: 2px solid white;
    width: fit-content;
    font-weight: 600;
  }
  .tnv:hover {
    border-bottom: 1px solid black;
  }
  #cart {
    justify-items: center;
    justify-self: center;
    align-self: center;
    flex: 1;
    margin: 3px;
    background-color: white;
  }
  .footer {
    width: 100%;
    padding: 2px;
    background-color: rgb(253, 253, 255);
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin-top: 10px;
  }
  .corporates {
    background-color: rgb(252, 249, 249);
    width: fit-content;
    height: fit-content;
    flex: 1;
    justify-items: center;
  }
  .footer .newsletter {
    background-color: white;
    width: 100%;
    flex: 1;
    display: inline-flex;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 201, 201);
    justify-content: center;
    align-items: center;
  }
  .home {
    height: fit-content;
  }
  span {
    justify-items: center;
    justify-self: center;
    align-self: center;
    flex: 1;
    margin: 3px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    visibility: visible;
  }
  Form {
    display: inline-block;
  }
  #example-collapse-text {
    text-decoration: none;
  }
  Link {
    text-decoration: none;
  }
  #drawer {
    justify-items: center;
    justify-self: center;
    align-self: center;
    flex: 1;
    margin: 3px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    visibility: visible;
  }
  #home-img {
    justify-self: center;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    flex: 1;
    width: 100%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .home-start {
    display: inline-flex;
    padding: 8px;
  }
  .home-start-text {
    flex: 1;
  }
  #side {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
  .home-image-side-col {
    justify-content: center;
    align-items: center;
  }
  .home-start-text {
    flex: 1;
  }
  #subscribe {
    margin-left: 5px;
  }
  .Products-div {
    display: flex;
    justify-content: center;
  }
}
.product-catalog {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}
.product-catalog-col {
  min-width: 38%;
  max-width: 50%;
  object-fit: cover;
  flex: 1;
  display: inline-block;
}
#drop-image {
  padding: 8px;
  background-color: rgb(221, 174, 221);
  border-radius: 4px;
  border: 1px solid rgb(85, 84, 84);
  margin: 1px;
  justify-items: center;
}
.product-info {
  display: block;
}
#fire-image {
  width: 32%;
}
